template(name='viewFull')
    with doc
        .panel.panel-default
            .panel-heading
                // span.glyphicon.glyphicon-tags
                each tags
                    .btn.btn-sm.doc_tag #{this}
            if body.length
                .panel-body
                    +markdown
                        #{body}
            .panel-footer
                if isAuthor
                    a.btn.btn-primary.btn-sm.editDoc edit
                if currentUser
                    // a.btn.btn-info.cloneDoc Clone
                    unless isAuthor
                        .btn.btn-group
                            a.vote_up.btn.btn-primary(class=vote_up_button_class)
                                // |Vote Up
                                span.glyphicon.glyphicon-thumbs-up
                            a.vote_down.btn.btn-primary(class=vote_down_button_class)
                                // |Vote Down
                                span.glyphicon.glyphicon-thumbs-down
                span.label.label-primary Points: #{points}
                span.label.label-default by #{username} [#{author.points}] #{when}
                // .btn.btn-primary.btn-sm.findTopDocMatches find top matches
                .section
                    ul.list-group top matches
                        each topDocMatches
                            li.list-group-item #{this.docId} by #{this.username}
                                each this.intersectionTags
                                    span.badge #{this}
    +messageList