.ui.form.segment
    if availableFeatures
        .ui.segment
            |Add Part
            each availableFeatures
                #addpart.ui.button #{this}
    .ui.segment
        .ui.segment
            |Document Tags
            each tags
                .ui.large.basic.label #{this}
        if partlist
            each partlist
                .ui.segment
                    h3.capitalized
                        |#{this}
                        a.removepart(href='#') (-)
                    .ui.divider
                    +Template.dynamic(template=templateEditName data=subtemplatecontext)
        #save.ui.large.button Save Document
        #delete.ui.compact.right.floated.button Delete Document
.ui.delete.basic.modal
    .header Confirm Delete
    .content
        .meta This will refund you one point
        .description #{body}
    .actions
        .ui.button.cancel Cancel
        .ui.red.button.approve Delete
.ui.removepart.basic.modal
    .header Confirm Part Removal
    .content
        .meta This removes saved information
    .actions
        .ui.button.cancel Cancel
        .ui.red.big.button.approve Remove
