.ui.segment
    |Document keywords
    each keywords
        .ui.label #{this.text} #{this.relevance}
    div Doc Sentiment: #{docSentiment}
    div Doc Sentiment Amount: #{docSentimentScore}
.ui.segment
    h3.ui.header Body
        #analyze.ui.basic.compact.button Analyze
    +CodeMirror id="codebody" name="someName" options=editorOptions code=body
.actions
    #save.ui.big.button
        i.check.icon
        |Save
    #delete.ui.icon.button: i.trash.icon