head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

body
    +home

template(name='home')
    unless editmode
        .ui.segment
            .ui.large.basic.label
                +loginButtons
            if currentUser
                #add.ui.circular.green.basic.icon.button: i.plus.icon
                if ismydocsmode
                    #viewpeople.ui.circular.basic.button view people
                else
                    #viewmydocs.ui.circular.basic.button view my docs
            .ui.input
                input#search(type='text' placeholder='Search/clear/add' autofocus='')
            if selectedtags
                #cleartags.ui.circular.icon.button: i.remove.icon
            each selectedtags
                .unselecttag.ui.button #{this}
            each globaltags
                .selecttag.ui.basic.button
                    |#{this.name}
                    small (#{this.count})
    if ismydocsmode
        +docs
    else
        +people

template(name='people')
    each peoplelist
        +person

template(name='docs')
    each doclist
        +doc


template(name='doc')
    .ui.segment
        if isediting
            each tags
                .ui.large.basic.label
                    i.remove.link.removedoctag.icon
                    |#{this}
            .ui.input
                input#addtag(type='text' placeholder='add tag' autofocus='')
            #save.ui.green.circular.icon.basic.button: i.check.icon
        else
            each tags
                .ui.large.basic.label #{this}
            if isAuthor
                .edit.ui.blue.circular.icon.basic.button: i.pencil.icon


template(name='person')
    .ui.segment
        h4 #{username}
        each cloud
            .ui.large.basic.label #{this.name} (#{this.count})