head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')


body
    +nav
    +home

template(name='nav')
    .ui.inverted.pointing.menu
        a#home.ui.item(href='/') Home
        .right.menu
            if currentUser
                a#addDoc.ui.item Add
            a.ui.item
                +loginButtons align='right'

template(name='home')
    unless editmode
        .ui.segment
            .ui.input
                input#search(type='text' placeholder='Search')
            if selectedtags
                #cleartags.ui.circular.icon.basic.active.button: i.remove.icon
            each selectedtags
                .unselecttag.ui.big.active.compact.basic.button #{this}
            each globaltags
                .selecttag.ui.large.compact.basic.button
                    |#{this.name}
                    small (#{this.count})
    each docs
<<<<<<< HEAD
        if isediting
            +edit
        else
            .ui.segment
                each tags
                    .ui.basic.label #{this}
                if isAuthor
                    .edit.ui.button Edit
=======
        .ui.clearing.segment
            each tags
                .ui.large.basic.label
                    i.tag.icon
                    |#{this}
            if isediting
                #delete.ui.right.floated.circular.icon.basic.button: i.remove.icon
                #save.ui.right.floated.circular.icon.basic.button: i.check.icon
            else if isAuthor
                .edit.ui.blue.right.floated.circular.icon.basic.button: i.pencil.icon
            if partlist
                .ui.menu
                    each partlist
                        a.ui.item.partmenuitem(class=this) #{this}
                if isediting
                    if availableparts
                        .ui.segment
                            |Add Part
                            each availableparts
                                #addpart.ui.button #{this}
                                    // small
                                    //     a.removepart(href='#') (remove #{this} part)
                                    // .ui.divider
                    +Template.dynamic(template=templateEditName data=subtemplatecontext)
                else
                    each partlist
                        +Template.dynamic(template=templateViewName data=subtemplatecontext)

    .ui.delete.basic.modal
        .header Confirm Delete
        .actions
            .ui.button.cancel Cancel
            .ui.red.button.approve Delete
    .ui.removepart.basic.modal
        .header Confirm Part Removal
        .content
            .meta This removes the saved information
        .actions
            .ui.button.cancel Cancel
            .ui.red.big.button.approve Remove
>>>>>>> parts
