#facetnav.ui.compact.segment
    +loginButtons
    // .ui.button.get_messages Get Messages
    .ui.button.get_tweets Get Tweets
    .ui.button.clear_docs Clear Docs
    |#{user_counter} users #{doc_counter} docs
.ui.grey.segment.globalcloud
    .ui.segment Keywords
        if selected_keywords
            #clear_keywords.ui.circular.grey.icon.button
                i.remove.icon
        each selected_keywords
            .unselect_keyword.ui.large.compact.grey.button
                i.minus.icon
                |#{this}
        each global_keywords
            .select_keyword.ui.large.compact.button
                |#{this.text}
                small #{this.count}
.ui.grey.segment.globalcloud
    .ui.segment Concepts
        if selected_concepts
            #clear_concepts.ui.circular.grey.icon.button
                i.remove.icon
        each selected_concepts
            .unselect_concept.ui.large.compact.grey.button
                i.minus.icon
                |#{this}
        each global_concepts
            .select_concept.ui.large.compact.button
                |#{this.text} #{this.relevance}
                small #{this.count}
each docs
    .ui.segment
        +view
