head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

body
    +nav
    +home


template(name='nav')
    unless $.Session.get 'editing'
        #facetnav.ui.menu
            // a#home.ui.item
                // i.home.icon
                // |Facet
            .ui.item
                +loginButtons
            if currentUser
                a#add.ui.item
                    i.plus.icon
                    |Add
                a#mine.ui.item
                    i.user.icon
                    // |Mine
                a#my_upvoted.ui.item
                    i.thumbs.up.icon
                    // |My Upvoted
                a#my_downvoted.ui.item
                    i.thumbs.down.icon
                    // |My Downvoted
            .ui.item
                .ui.left.icon.input
                    i.search.icon
                    input#search(type='text' autofocus='')
            .right.menu
                .ui.item #{user_counter} users
                .ui.item #{doc_counter} docs



template(name='home')
    unless $.Session.get 'editing'
        .ui.grey.center.aligned.segment.globalcloud
            if $.Session.get 'selected_user'
                .ui.button.grey.selected_user_button
                    i.user.icon
                    |by #{selected_user}
            if $.Session.get 'upvoted_cloud'
                .ui.button.grey.upvoted_cloud_button
                    i.thumbs.up.icon
                    |by #{upvoted_cloud}
            if $.Session.get 'downvoted_cloud'
                .ui.button.grey.downvoted_cloud_button
                    i.thumbs.down.icon
                    |by #{downvoted_cloud}
            if selectedtags
                #cleartags.ui.circular.grey.icon.button
                    i.remove.icon
            each selectedtags
                .unselecttag.ui.large.compact.grey.button
                    i.minus.icon
                    |#{this}
            each globaltags
                .selecttag.ui.large.compact.button
                    |#{this.name}
                    small #{this.count}
    .ui.container
        each docs
            .ui.segment
                if is_editing
                    +edit
                else
                    +view


template(name='view')
    if body.length
        +markdown
            #{body}
    .tags
        each tags
            .doc_tag.ui.small.compact.button(class=doc_tag_class)
                // i.tag.icon
                |#{this}
    .ui.horizontal.divider
    .footer
        |#{when} by #{author.username}
        // unless isAuthor
        //     .ui.segment
        //         .ui.segment
        //             .select_user.ui.compact.button(class=select_user_button_class)
        //                 i.filter.icon
        //                 i.user.icon
        //                 |by #{author.username}
        //             |Authored Tags
        //             each author.authored_cloud
        //                 .ui.small.label
        //                     |#{this.name}
        //                     small #{this.count}
        //             // |My Authored Tag Cloud Intersection
        //             // each authored_cloud_intersection
        //             //     .ui.small.label
        //             //         |#{this.name}
        //             //         small #{this.count}
        //         .ui.segment
        //             .author_upvotes.ui.compact.button(class=author_upvotes_button_class)
        //                 i.filter.icon
        //                 i.thumbs.up.icon
        //                 |by #{author.username}
        //             |Upvoted Tags
        //             each author.upvoted_cloud
        //                 .ui.small.label
        //                     |#{this.name}
        //                     small #{this.count}
        //         .ui.segment
        //             .author_downvotes.ui.compact.button(class=author_downvotes_button_class)
        //                 i.filter.icon
        //                 i.thumbs.down.icon
        //                 |by #{author.username}
        //             |Downvoted Tags
        //             each author.downvoted_cloud
        //                 .ui.small.label
        //                     |#{this.name}
        //                     small #{this.count}
        if currentUser
            if isAuthor
                .edit.ui.circular.compact.button
                    // i.pencil.icon
                    |Edit
        .vote_up.ui.icon.circular.button(class=vote_up_button_class)
            i.thumbs.up.icon(class=vote_up_icon_class)
        // .ui.basic.label #{points}
        .vote_down.ui.icon.circular.button(class=vote_down_button_class)
            i.thumbs.down.icon(class=vote_down_icon_class)

template(name='edit')
    .ui.segment
        h3.ui.header
            |Document Tags
            if tags
                #clear_doc_tags.ui.basic.compact.button
                    i.remove.icon
                    |Clear All Tags
        .ui.divider
        each tags
            .ui.button.large.compact.removetag
                i.minus.icon
                |#{this}
        .ui.left.icon.small.input
            i.plus.icon
            input#addtag(type='text' autofocus='')
    .ui.segment
        h3.ui.header
            |Suggested Tags
            #suggest_tags.ui.basic.compact.button
                i.wizard.icon
                |Suggest Tags from Body
            if unique_suggested_tags
                #add_all_suggested_tags.ui.compact.button
                    i.up.arrow.icon
                    |Add All Suggested Tags
                #clear_suggested_tags.ui.basic.compact.button
                    i.remove.icon
                    |Clear Suggested Tags
        .ui.divider
        each unique_suggested_tags
            .ui.compact.basic.large.button.add_suggested_tag
                i.plus.icon
                |#{this}
    .ui.segment
        h3.ui.header Body
            small
                |(
                a(href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank') Markdown
                |is interpreted)
        +CodeMirror id="codebody" name="someName" options=editorOptions code=body
    .actions
        #save.ui.big.button
            i.check.icon
            |Save
        #delete.ui.icon.button: i.trash.icon