// +markdown
//     #{body}
div
    !{body}
.ui.segment
    .ui.blue.top.left.attached.label Keywords
    each keywords
        .doc_keyword.ui.label(class=doc_keyword_class)
            div #{text}
            div #{relevance}
.ui.segment
    .ui.blue.top.left.attached.label Concepts
    each concepts
        .doc_concept.ui.label(class=doc_concept_class)
            div #{text}
            div #{relevance}
            a(href=dbpedia target="_blank") DBPedia
            a(href=opencyc target="_blank") opencyc
            a(href=freebase target="_blank") freebase
#{this}
.ui.segment
    div Sentiment: #{docSentiment.type} #{docSentiment.score}
    div Language: #{language}
.ui.segment
    .ui.blue.top.left.attached.label Taxonomy
    each taxonomy
        .ui.label
            div Label: #{label}
            div Score: #{score}
            div Confident: #{confident}

// .ui.segment
//     Strong Relations
//     each relations
//         .ui.segment
//             div
//                 strong Sentence:
//                 |#{sentence}
//             div Subject:
//                 with subject
//                     |Text: #{text}
//                     div Keywords
//                         each keywords
//                             |text: #{text}
//             .ui.segment Action:
//                 div Text: #{action.text}
//                 div Lemmatized: #{action.lemmatized}
//                 each verb
//                     |text: #{text}
//                     |tense: #{tense}
//             .ui.segment Object:
//                 div Text: #{text}
//                 div Subject:
//                     with subject
//                         |Text: #{text}
//                         each keywords
//                             |text: #{text}


//       "object": {
//         "text": "so cruel to scatter gay people amongst the mass of heterosexuals",
//         "keywords": [
//           {
//             "text": "gay people"
//           },
//           {
//             "text": "heterosexuals"
//           },
//           {
//             "text": "mass"
//           }
//         ]
//       },
