if body.length
    +markdown
        #{body}
.ui.segment
    strong Keywords
    each keyword_array
        .doc_keyword.ui.label(class=doc_keyword_class) #{this}
.ui.segment
    strong Concepts
    each concept_array
        .doc_concept.ui.label(class=doc_concept_class) #{this}