if body.length
    +markdown
        #{body}
.tags
    each tags
        .doc_tag.ui.small.compact.button(class=doc_tag_class)
            // i.tag.icon
            |#{this}
.ui.horizontal.divider
.footer
    |#{when} by #{author.username}
    // unless isAuthor
    //     .ui.segment
    //         .ui.segment
    //             .select_user.ui.compact.button(class=select_user_button_class)
    //                 i.filter.icon
    //                 i.user.icon
    //                 |by #{author.username}
    //             |Authored Tags
    //             each author.authored_cloud
    //                 .ui.small.label
    //                     |#{this.name}
    //                     small #{this.count}
    //             // |My Authored Tag Cloud Intersection
    //             // each authored_cloud_intersection
    //             //     .ui.small.label
    //             //         |#{this.name}
    //             //         small #{this.count}
    //         .ui.segment
    //             .author_upvotes.ui.compact.button(class=author_upvotes_button_class)
    //                 i.filter.icon
    //                 i.thumbs.up.icon
    //                 |by #{author.username}
    //             |Upvoted Tags
    //             each author.upvoted_cloud
    //                 .ui.small.label
    //                     |#{this.name}
    //                     small #{this.count}
    //         .ui.segment
    //             .author_downvotes.ui.compact.button(class=author_downvotes_button_class)
    //                 i.filter.icon
    //                 i.thumbs.down.icon
    //                 |by #{author.username}
    //             |Downvoted Tags
    //             each author.downvoted_cloud
    //                 .ui.small.label
    //                     |#{this.name}
    //                     small #{this.count}
    if currentUser
        if isAuthor
            .edit.ui.circular.compact.button
                // i.pencil.icon
                |Edit
    .vote_up.ui.icon.circular.button(class=vote_up_button_class)
        i.thumbs.up.icon(class=vote_up_icon_class)
    // .ui.basic.label #{points}
    .vote_down.ui.icon.circular.button(class=vote_down_button_class)
        i.thumbs.down.icon(class=vote_down_icon_class)
