if body.length
    +markdown
        #{body}
.ui.segment
    strong Keywords
    each keyword_array
        .doc_keyword.ui.label(class=doc_keyword_class) #{this}
.ui.segment
    strong Concepts
    each concept_array
        .doc_concept.ui.label(class=doc_concept_class) #{this}
with alchemy_data
    .ui.segment
        div Sentiment: #{docSentiment.type} #{docSentiment.score}
        div Language: #{language}
    .ui.segment Taxonomy
        each taxonomy
            .ui.segment
                div Label: #{label}
                div Score: #{score}
                div Confident: #{confident}

// .ui.segment
//     Strong Relations
//     each relations
//         .ui.segment
//             div
//                 strong Sentence:
//                 |#{sentence}
//             div Subject:
//                 with subject
//                     |Text: #{text}
//                     div Keywords
//                         each keywords
//                             |text: #{text}
//             .ui.segment Action:
//                 div Text: #{action.text}
//                 div Lemmatized: #{action.lemmatized}
//                 each verb
//                     |text: #{text}
//                     |tense: #{tense}
//             .ui.segment Object:
//                 div Text: #{text}
//                 div Subject:
//                     with subject
//                         |Text: #{text}
//                         each keywords
//                             |text: #{text}


//       "object": {
//         "text": "so cruel to scatter gay people amongst the mass of heterosexuals",
//         "keywords": [
//           {
//             "text": "gay people"
//           },
//           {
//             "text": "heterosexuals"
//           },
//           {
//             "text": "mass"
//           }
//         ]
//       },
