if body.length
    +markdown
        #{body}
.tags
    each keywords
        .doc_tag.ui.small.compact.button(class=doc_tag_class)
            // i.tag.icon
            |#{this.text}
.ui.horizontal.divider
.footer
    |#{when} by #{author.username}
    if currentUser
        if isAuthor
            .edit.ui.circular.compact.button Edit