template(name='edit')
    with doc
        .container
            .ui.segment
                each tags
                    .ui.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.input
                    input#addTag(type='text' autofocus='' placeholder='Add Tag')
                    // div user mentions
                    // each mentions
                    //     .btn.btn-default.docMention
                    //         span.glyphicon.glyphicon-minus
                    //         |#{this}
                    // .form-group
                    //     .form-control
                    //         +inputAutocomplete(settings=userSettings id='userSelection' class='' placeholder="select users")
                    // .form-group
                    //     label(for='place') add address
                    //     input#place.form-control(type='text' value=locationob.formatted_address)
                    // .form-group
                    //     label(for='datetimepicker') add date/time
                    //     input#datetimepicker.form-control(type="text" value=dateTime)
                    //     .btn.btn-info.clearDT clear date/time
                // +froalaReactive getFEContext
                .ui.basic.segment
                    .ui.form
                        .field
                            textarea#body
                .ui.basic.segment
                    label
                        input(type="checkbox" id="personal" checked=personal)
                        |Private
                #saveDoc.ui.labeled.icon.button
                    |Save
                    i.check.icon
                #deleteDoc.ui.labeled.icon.button
                    i.remove.icon
                    |Delete

template(name='userPill')
    span(class="label") #{username}