template(name='edit')
    with doc
        .container
            .panel.panel-default
                .panel-heading
                    each tags
                        .btn.btn-default.docTag #{this}
                .panel-body
                    .form-group
                        label(for='addTag')  Manually add tag
                        input#addTag.form-control(type=text autofocus='')
                    // .field-input
                    //     input#place(type='text' placeholder='Add Address')
                    .form-group
                        label.active(for='datetimepicker') Add Date/Time
                        input#datetimepicker.form-control(type="text" value=dateTime)
                        .btn.btn-info.clearDT Clear Date/Time
                    .form-group
                        label.active(for='url') Get URL Text
                        input#url.form-control(type="text" value=url)
                    .form-group
                        input.form-control(type="checkbox" id="personal" checked=personal)
                        label(for="personal") Personal (only you see it)
                    if unpickedKeywords.length
                        .panel.panel-default
                            .panel-heading Suggestions
                            .panel-body
                                div Keywords
                                    each unpickedKeywords
                                        .docKeyword.btn.btn-default #{this}
                                .card-action
                                    a#addAll Add All Suggestions
                    #analyzeBody.btn.btn-default Analyze Body
                .well
                    +CodeMirror id="body" options=editorOptions code=body
                .panel-footer
                    a#saveDoc.btn.btn-primary.btn-lg Save
                    a#deleteDoc.btn.btn-danger Delete
