template(name='edit')
    with doc
        .container
            .panel.panel-default
                .panel-heading
                    each tags
                        .btn.btn-default.docTag
                            span.glyphicon.glyphicon-minus
                            |#{this}
                .panel-body
                    // .form-horizontal
                    // .form-inline
                    .form-group
                        label(for='addTag')  Manually add tag
                        input#addTag.form-control(type=text autofocus='')
                    // .form-inline
                    .form-group
                        label(for='place') Add Address
                        input#place.form-control(type='text' disabled='')
                    // .form-inline
                    .form-group
                        label(for='datetimepicker') Add Date/Time
                        input#datetimepicker.form-control(type="text" value=dateTime)
                        .btn.btn-info.clearDT Clear Date/Time
                    // .form-inline
                    .form-group
                        label(for='url') Get URL Text
                        input#url.form-control(type="text" value=url)
                    .checkbox
                        label
                            input(type="checkbox" id="personal" checked=personal)
                            |Personal (only you see it)
                    if unpickedKeywords.length
                        .panel.panel-default
                            .panel-heading Suggestions
                            .panel-body
                                div Keywords
                                    each unpickedKeywords
                                        .docKeyword.btn.btn-default #{this}
                                .card-action
                                    a#addAll Add All Suggestions
                .well
                    #analyzeBody.btn.btn-default Analyze Body
                    +CodeMirror id="body" options=editorOptions code=body
                .panel-footer
                    a#saveDoc.btn.btn-primary.btn-lg Save
                    a#deleteDoc.btn.btn-danger Delete
