head
    title aborty
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='blue')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

template(name='layout')
    +Template.dynamic template=nav
    +Template.dynamic template=cloud
    +Template.dynamic template=main


template(name='nav')
    .ui.inverted.blue.menu
        a#home.ui.item(href='/')
            i.home.icon
            |Aborty
        .item
        if currentUser
            a#add.item(href='/profile')
                i.user.icon
                |Profile
        +atNavButton


template(name='cloud')
    p I need help with
    if selectedTags
        #clear.ui.circular.icon.blue.button: i.remove.icon
    each selectedTags
        .unselectTag.ui.blue.button #{this}
    each displayedtags
        .ui.blue.basic.button.selectTag
            |#{this.name}
            small (#{this.count})

template(name='people')
    each people
        +person

template(name='person')
    .ui.segment
        .ui.small.horizontal.list
            each wanted
                .item #{this}
            each offered
                .item #{this}
            each offered
                .item #{this}

template(name='profile')
    .ui.segment
        .ui.form
            .labeled.field
                .ui.label I want help with
                each wanted
                    .ui.labeled.icon.label
                        |#{this}
                        i.delete.icon
                input#want(type='text' placeholder='add facet')
            .labeled.field
                .ui.label I can help with
                each offered
                    .ui.labeled.icon.label
                        |#{this}
                        i.delete.icon
                input#offer(type='text' placeholder='add facet')
            .labeled.field
                .ui.label Location Tags
                each locationTags
                    .ui.labeled.icon.label
                        |#{this}
                        i.delete.icon
                input#locationTags(type='text' placeholder='')
