head
    title Aborty
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='blue')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

template(name='layout')
    +Template.dynamic template=nav
    +Template.dynamic template=wants
    +Template.dynamic template=offers
    +Template.dynamic template=places
    // .ui.container
    +Template.dynamic template=main


template(name='nav')
    .ui.inverted.blue.menu
        a.ui.item(href='/') Aborty
        .right.menu
            if currentUser
                a.item(href='/profile') Profile
            +loginButtons

template(name='wants')
    .ui.segment
        |Find people who need help with...
        if selectedwants
            #clearwants.ui.circular.icon.blue.button: i.remove.icon
        each selectedwants
            .unselectwant.ui.blue.button #{this}
        each wants
            .selectwant.ui.blue.basic.button
                |#{this.name}
                small (#{this.count})


template(name='offers')
    .ui.segment
        |and/or to help with...
        if selectedoffers
            #clearoffers.ui.circular.icon.blue.button: i.remove.icon
        each selectedoffers
            .unselectoffer.ui.blue.button #{this}
        each offers
            .selectoffer.ui.blue.basic.button
                |#{this.name}
                small (#{this.count})


template(name='places')
    .ui.segment
        |and/or who live near...
        if selectedplaces
            #clearplaces.ui.circular.icon.blue.button: i.remove.icon
        each selectedplaces
            .unselectplace.ui.blue.button #{this}
        each places
            .selectplace.ui.blue.basic.button
                |#{this.name}
                small (#{this.count})


template(name='people')
    .ui.cards
        each people
            +person


template(name='person')
    .ui.people.shape
        .sides
            .active.side
                .ui.card
                    .ui.content
                        .ui.header #{username}
                            .right.floated
                                .contact.ui.basic.small.button Contact
                    .ui.content
                        strong Wants help with
                        each profile.wants
                            .ui.basic.label #{this}
                    .ui.content
                        strong Can help with
                        each profile.offers
                            .ui.basic.label #{this}
                    .ui.content
                        strong Is near
                        each profile.places
                            .ui.basic.label #{this}
            .side
                .ui.card
                    .content
                        .ui.form
                            input.message(type='text' placeholder='message')
                            .ui.button Send
                            .cancel.ui.button Cancel


template(name='profile')
    with user
        .ui.form.segment
            .ui.segment.inline.field
                .ui.header I want help with
                each profile.wants
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removewant
                input#addwant(type='text' placeholder='add tag')
            .ui.segment.inline.field
                .ui.header I can help with
                each profile.offers
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removeoffer
                input#addoffer(type='text' placeholder='add tag')
            .ui.segment.inline.field
                .ui.header Place Tags
                each profile.places
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removelocation
                input#addplace(type='text' placeholder='add tag')
