head
    title facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

template(name='layout')
    +Template.dynamic template=nav
    +Template.dynamic template=cloud
    +Template.dynamic template=body


template(name='nav')
    .ui.inverted.black.menu
        a#home.ui.item(href='/' class=homeLinkClass)
            i.home.icon
            |Facet
        .item
            .ui.input
                input#globalsearch(type='text' placeholder='search' autofocus='')
        .item
            .ui.input
                +inputAutocomplete(settings=tagsettings id='tagsearch' class='' placeholder="drilldown/'clear'")
        if currentUser
            a#add.item(href='/add')
                i.plus.icon
                |Add
        +loginButtons align='right'

template(name='cloud')
    if selectedTags
        #clear.ui.circular.icon.black.button: i.remove.icon
    each selectedTags
        .unselectTag.ui.black.button #{this}
    each displayedtags
        .ui.black.basic.button.selectTag
            |#{this.name}
            small (#{this.count})

template(name='tagresult')
    .ui.large.label #{name}
        small (#{count})

template(name='posts')
    each posts
        +post

template(name='post')
    .ui.segment
        if isAuthor
            a#edit.ui.basic.compact.black.button(href=editaddress) edit
        if body
            .body
                |{{nl2br body}}

template(name='edit')
    .ui.segment
        with post
            .ui.form
                .field
                    textarea(rows='20') #{body}
            .ui.hidden.divider
            .bottomGroup
                #save.ui.black.button Save
                #cancel.ui.black.button Cancel
                #delete.ui.right.floated.black.button Delete


template(name='add')
    .ui.segment
        .ui.form
            .field
                textarea(rows='20')
        .ui.hidden.divider
        .bottomGroup
            #add.ui.black.button Add
            #cancel.ui.right.floated.black.button Cancel