template(name='home')
    .section.text-center
        if selectedTags
            .btn-group
                #clearTags.btn.btn-default.active
                    span.glyphicon.glyphicon-remove-sign
                each selectedTags
                    a.btn.btn-default.active.unselectTag
                        strong #{this}
        each globalTags
            // a.btn.btn-default.select_tag(class=globalTagClass) #{this.name}
            a.btn.btn-default.selectTag #{this.name}
                // span.badge #{this.count}
    hr
    each docs
        +view
