template(name='home')
    .text-center
        .btn.btn-primary
            +loginButtons
        if currentUser
            a.btn.btn-primary(role='button', data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                | Add
            #collapseExample.collapse
                .well
                    .form-inline
                        each newTags
                            .btn.btn-default.newDocTag
                                span.glyphicon.glyphicon-minus
                                |#{this}
                        input#addTag.form-control(type=text autofocus='' placeholder='add new tags')
        h5 with
            if selectedTags
                .btn-group
                    #clearTags.btn.btn-primary
                        span.glyphicon.glyphicon-remove-sign
                    each selectedTags
                        a.btn.btn-primary.unselectTag
                            strong #{this}
            each globalTags
                // a.btn.btn-default.select_tag(class=globalTagClass) #{this.name}
                a.btn.btn-default.selectTag #{this.name}
                    small #{this.countPlusPoints}
        h5 by
            if selectedUsernames
                .btn-group
                    #clearUsernames.btn.btn-primary
                        span.glyphicon.glyphicon-remove-sign
                    each selectedUsernames
                        a.btn.btn-primary.unselectUsername
                            strong #{this}
            each globalUsernames
                .btn.btn-group
                    .btn.btn-default.selectUsername #{this.text}
                        small #{this.count}
                    .btn.pinUsername(class=pinnedButtonClass)
                        span.glyphicon.glyphicon-pushpin

    each docs
        +view