with user
    .container
        .panel.panel-default
            .panel-heading Clouds
                a#generatePersonalCloud.pull-right.glyphicon.glyphicon-refresh
            .panel-body
                if authoredCloud
                    .panel.panel-default
                    .panel-heading Authored Cloud
                    .panel-body
                        each authoredCloud
                            .btn.btn-default
                                |#{this.name}
                                small #{this.count}
                if upvotedCloud
                    .panel.panel-default
                    .panel-heading Upvoted Cloud
                    .panel-body
                        each upvotedCloud
                            .btn.btn-default
                                |#{this.name}
                                small #{this.count}
                if downvotedCloud
                    .panel.panel-default
                    .panel-heading Downvoted Cloud
                    .panel-body
                        each downvotedCloud
                            .btn.btn-default
                                |#{this.name}
                                small #{this.count}
        .panel.panel-default
            .panel-heading Top Matched Users
            .panel-body
                ul.list-group
                each people
                    li.list-group-item
                        |#{this.username}
                        a.matchTwoUsersAuthoredCloud.pull-right Calculate
                each authoredCloudMatches
                    ul.list-group
                        li.list-group-item
                            | #{this.username}
                            each userMatchAuthoredCloud
                                .btn.btn-default
                                    |#{this.name}
                                    small #{this.count}
