.container
    .panel.panel-default
        .panel-heading Profile
        .panel-body
            with user
                #generatePersonalCloud.btn.btn-default Calculate Clouds
                if authoredCloud
                    .well Authored Cloud
                        each authoredCloud
                            .btn.btn-link(disabled='disabled')
                                |#{this.name}
                                small #{this.count}
                if upvotedCloud
                    .well Upvoted Cloud
                        each upvotedCloud
                            .btn.btn-link(disabled='disabled')
                                |#{this.name}
                                small #{this.count}
                if downvotedCloud
                    .well Downvoted Cloud
                        each downvotedCloud
                            .btn.btn-link(disabled='disabled')
                                |#{this.name}
                                small #{this.count}
                strong Top Matched Users
                .row
                    // #calculateUserMatch.btn Calculate User Matches
                    ul.list-group
                        each usernames
                            a.list-group-item.calculateUserMatch #{this.text}