template(name='wants')
    .ui.segment
        |People who need help with...
        if selectedwants
            #clearwants.ui.circular.large.active.icon.button: i.remove.icon
        each selectedwants
            .unselectwant.ui.large.active.button #{this}
        each wants
            .selectwant.ui.button
                |#{this.name}
                small (#{this.count})

template(name='offers')
    .ui.segment
        |and/or to help with...
        if selectedoffers
            #clearoffers.ui.circular.large.active.icon.button: i.remove.icon
        each selectedoffers
            .unselectoffer.ui.large.active.button #{this}
        each offers
            .selectoffer.ui.button
                |#{this.name}
                small (#{this.count})

template(name='places')
    .ui.segment
        |and/or who live near
        if selectedplaces
            #clearplaces.ui.circular.large.active.icon.button: i.remove.icon
        each selectedplaces
            .unselectplace.ui.large.active.button #{this}
        each places
            .selectplace.ui.button
                |#{this.name}
                small (#{this.count})

template(name='peoplepage')
    +wants
    +offers
    +places
    +peoplelist

template(name='peoplelist')
    .ui.cards
        each people
            +person

template(name='person')
    .ui.card
        .ui.content
            .ui.header #{username}
        .ui.content
            strong Wants help with
            each profile.wants
                .ui.basic.label #{this}
        .ui.content
            strong Can help with
            each profile.offers
                .ui.basic.label #{this}
        .ui.content
            strong Is near
            each profile.places
                .ui.basic.label #{this}
        if cansend
            .content
                .ui.input
                    input#message(type='text' placeholder='Message #{username}')

template(name='profile')
    with user
        .ui.form.segment
            .ui.segment.inline.field
                | I want help with
                each profile.wants
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removewant
                input#addwant(type='text' placeholder='add tag')
            .ui.segment.inline.field
                | I can help with
                each profile.offers
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removeoffer
                input#addoffer(type='text' placeholder='add tag')
            .ui.segment.inline.field
                | Place Tags
                each profile.places
                    .ui.basic.icon.label
                        |#{this}
                        i.delete.icon.removelocation
                input#addplace(type='text' placeholder='add tag')
            .ui.segment
                | My Document Tag Cloud
                each cloud
                    .ui.basic.label
                        |#{this.name}
                        small (#{this.count})
