template(name='wants')
    .ui.segment
        |People who need help with...
        if selectedwants
            #clearwants.ui.circular.large.active.icon.button: i.remove.icon
        each selectedwants
            .unselectwant.ui.large.active.button #{this}
        each wants
            .selectwant.ui.large.basic.compact.button
                |#{this.name}
                small (#{this.count})

template(name='offers')
    .ui.segment
        |and/or to help with...
        if selectedoffers
            #clearoffers.ui.circular.large.active.icon.button: i.remove.icon
        each selectedoffers
            .unselectoffer.ui.large.active.button #{this}
        each offers
            .selectoffer.ui.large.basic.compact.button
                |#{this.name}
                small (#{this.count})

template(name='places')
    .ui.segment
        |and/or who live near
        if selectedplaces
            #clearplaces.ui.circular.large.active.icon.button: i.remove.icon
        each selectedplaces
            .unselectplace.ui.large.active.button #{this}
        each places
            .selectplace.ui.large.basic.compact.button
                |#{this.name}
                small (#{this.count})

template(name='peoplepage')
    +wants
    +offers
    +places
    +peoplelist

template(name='peoplelist')
    .ui.cards
        each people
            +person

template(name='person')
    .ui.card
        .ui.content
            .ui.header #{username}
        .ui.content
            strong Wants help with
            each profile.wants
                .ui.label(class=wantTagClass) #{this}
        .ui.content
            strong Can help with
            each profile.offers
                .ui.label(class=offerTagClass) #{this}
        .ui.content
            strong Is near
            each profile.places
                .ui.label(class=placeTagClass) #{this}
        if currentUser
            .content
                .ui.fluid.icon.input
                    input#message(type='text' placeholder='Message #{username} (-1p)')
                    i.mail.icon

template(name='profile')
    // +quickFlow autoFlowDef=flowDef template="semanticUI"
    with user
        .ui.form.segment
            .ui.segment.inline.field
                | I want help with
                each profile.wants
                    .ui.basic.large.icon.label
                        |#{this}
                        i.delete.icon.removewant
                input#addwant(type='text' placeholder='add tag')
            .ui.segment.inline.field
                | I can help with
                each profile.offers
                    .ui.basic.large.icon.label
                        |#{this}
                        i.delete.icon.removeoffer
                input#addoffer(type='text' placeholder='add tag')
            .ui.segment.inline.field
                | Place Tags
                each profile.places
                    .ui.basic.large.icon.label
                        |#{this}
                        i.delete.icon.removelocation
                input#addplace(type='text' placeholder='add tag')
            .ui.segment
                | My Document Tag Cloud
                each docCloud
                    .ui.basic.label
                        |#{this.name}
                        small (#{this.count})
            .ui.segment
                | My Market Item Tag Cloud
                each marketCloud
                    .ui.basic.label
                        |#{this.name}
                        small (#{this.count})
