template(name='edit')
    with doc
        .ui.segment
            .ui.center.aligned.header Edit Doc
            .ui.item
                each tags
                    .ui.labeled.icon.button.docTag
                        i.remove.icon
                        |#{this}
                .ui.left.icon.input
                    i.plus.icon
                    input#addTag(type=text placeholder='Add tag')
            if keywords
                div Keywords
                    each keywords
                        .docKeyword.ui.compact.button(class=docKeywordClass)
                            div #{text}
            if concepts
                div Concepts
                    each concepts
                        .docKeyword.ui.compact.button(class=docKeywordClass)
                            div #{text}
            div Sentiment: #{docSentiment.type} #{docSentiment.score}
            div Language: #{language}
            if taxonomy
                p Taxonomy
                each taxonomy
                    .ui.label
                        div #{label}
                        // div Score: #{score}
                        // div Confident: #{confident}
            .ui.basic.segment
                #analyzeBody.ui.basic.labeled.icon.button
                    |Analyze Body
                    i.wizard.icon
                +CodeMirror id="body" options=editorOptions code=body
            #saveDoc.ui.basic.green.labeled.icon.button
                |Save
                i.save.icon