template(name='edit')
    with doc
        .container
            each tags
                .chip.docTag
                    i.material-icons close
                    |#{this}
            .field-input
                i.plus.icon
                input#addTag(type=text placeholder='Manually add tag' autofocus='')
            // .field-input
            //     input#place(type='text' placeholder='Add Address')
            .row
                .field-input
                    input#datetimepicker(type="text" value=dateTime placeholder='Add Date/Time')
                .btn.clearDT Clear Date/Time
            if unpickedKeywords
                .card
                    strong Suggestions
                    #addAll.btn-flat Add All Suggestions
                    div Keywords
                        each unpickedKeywords
                            .docKeyword.chip #{this}
            else
                #analyzeBody.btn Analyze Body
            +CodeMirror id="body" options=editorOptions code=body
            #saveDoc.btn Save
            #deleteDoc.btn Delete