template(name='market')
    .ui.segment
        if currentUser
            #addItem.ui.button
                i.plus.icon
                |Add Item (-1p)
        .ui.input
            input#globalItemSearch(type='text' placeholder='Global Search')
        .ui.input
            +inputAutocomplete(settings=itemsettings id='marketItemSearch' class='' placeholder="search/'clear'")
        if selectedItemTags
            #clearItemTags.ui.circular.icon.button: i.remove.icon
        each selectedItemTags
            .unselectItemTag.ui.button #{this}
        each itemTags
            .selectItemTag.ui.basic.button
                |#{this.name}
                small (#{this.count})
    each marketitems
        +marketitem

template(name='marketitem')
    .ui.segment
        .ui.segment
            |{{nl2br itemBody}}
        .ui.basic.large.label Price: #{price}
        each itemTags
            .ui.basic.tiny.label(class=itemTagLabelClass) #{this}
        unless isAuthor
            if canBuy
                .buyItem.ui.button
                    i.in.cart.icon
                    |Buy for #{price} points
        if isAuthor
            .editItem.ui.compact.button
                i.pencil.icon
                |Edit
        |by #{author.username} #{author.points}p


template(name='editItem')
    with item
        .ui.form.segment
            .ui.segment.inline.field
                #generateItemTags.ui.button Generate Tags
                each itemTags
                    .ui.basic.large.icon.label
                        |#{this}
                        i.delete.icon.removeItemTag
                input#addItemTag(type='text' placeholder='add tag')
            .ui.field
                textarea#itemBody #{itemBody}
            .ui.two.wide.field
                .label Price (in points)
                input#itemPrice(type='number' min='0' value=price)
            .actions
                #saveItem.ui.large.button Save
                #deleteItem.ui.right.floated.compact.button Delete (+1p)
            // .ui.small.info.message
            //     .content Each item costs a point
    .ui.modal
        .header Confirm Delete
        .content
            .meta This will refund you one point
            .description #{itemBody}
        .actions
            .ui.button.cancel Cancel
            .ui.button.red.approve Delete