template(name='importerList')
    .ui.segment
        #addImporter.ui.button Add Importer
        each importers
            div #{this.url}
            .ui.icon.button.editImporter: i.pencil.icon
            .ui.icon.button.deleteImporter: i.remove.icon

template(name='importerView')
    .ui.segment
        with importerDoc
            #addImporterForm.ui.form
                .field
                    label Method (GET or POST)
                    input#methodField(type='text' value=method)
                .field
                    label Url
                    input#urlField(type='text' value=url)
                .field
                    label Data subkey
                    input#subKey(type='text')
                .ui.button#saveImporter Save Importer
                .ui.button#runImporter Run Importer
            if $.Session.get 'jsonResponse'
                +jsonView json=jsonData options=options
