template(name='importerList')
    .ui.segment
        #addImporter.btn Add Importer
        each importers
            div #{this.url}
            .btn.editImporter Edit Importer
            .btn.deleteImporter Delete Importer

template(name='importerView')
    .ui.segment
        with importerDoc
            #addImporterForm.ui.form
                .input-field
                    label(for='methodinput') Method (GET or POST)
                    input#methodinput(type='text' value=method)
                .input-field
                    label(for='urlinput') Url
                    input#urlinput(type='text' value=url)
                .input-field
                    label Data subkey
                    input#subKey(type='text')
                .btn#saveImporter Save Importer
                .btn#runImporter Run Importer
            if $.Session.get 'jsonResponse'
                +jsonView json=jsonData options=options
