template(name='importerList')
    .container
        #addImporter.fixed-action-btn(style="bottom: 45px; right: 24px;")
            a.btn-floating.btn-large.red
                i.large.material-icons add
        ul.collection.with-header
            li.collection-header: h5 Importers
            each importers
                a.collection-item.editImporter(href='#') #{this.name}

template(name='importerView')
    .container
        with importerDoc
            .input-field
                label.active(for='importerName') Name
                input#importerName(type='text' value=name)
            .card
                .card-content
                    .card-title Import JSON
                    .input-field
                        label.active(for='methodinput') Method (GET or POST)
                        input#methodinput(type='text' value=method)
                    .input-field
                        i.material-icons.prefix http
                        label.active(for='urlinput') Url
                        input#urlinput(type='text' value=url)
                    .input-field
                        label Data subkey
                        input#subKey(type='text')
                    if $.Session.get 'jsonResponse'
                        +jsonView json=jsonData options=options
            .card
                .card-content
                    .card-title Import CSV
                    unless uploading
                        input(type="file" name="uploadCSV")
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |Uploading files...
                    if fields
                        ul.collection.with-header
                            li.collection-header: h5 Fields
                            each fields
                                li.collection-item #{this}

            .btn#saveImporter Save
            .btn#runImporter Run
            .btn#deleteImporter
                i.material-icons delete