
template(name='docs')
    .ui.segment
        if currentUser
            #addDoc.ui.basic.button
                i.plus.icon
                |Add Doc (-1p)
        .ui.input
            input#globalsearch(type='text' placeholder='Global Search')
        .ui.input
            +inputAutocomplete(settings=tagsettings id='tagsearch' class='' placeholder="search/'clear'")
        if selectedDocTags
            #cleardocTags.ui.circular.icon.button: i.remove.icon
        each selectedDocTags
            .unselectDocTag.ui.big.active.compact.button #{this}
        each docTags
            .selectDocTag.ui.large.compact.button
                |#{this.name}
                small (#{this.count})
    each docs
        +doc

template(name='doc')
    .ui.segment
        .body
            |{{nl2br body}}
        .tags
            each docTags
                .ui.label(class=docTagLabelClass) #{this}
        .actions
            if isAuthor
                .editDoc.ui.button
                    i.pencil.icon
                    |Edit
            if currentUser
                unless isAuthor
                    .voteUp.ui.icon.button
                        i.thumbs.up.icon(class=voteUpIconClass)
                .cloneDoc.ui.button
                    i.fork.icon
                    |Clone
            unless isAuthor
                if $gt user.points 0
                    .sendpoint.ui.button
                        i.send.icon
                        |Give Point
                        small (#{user.points})
            .ui.large.label by #{author.username} #{author.points}p
            |Posted #{when}

template(name='editdoc')
    with doc
        .ui.form.segment
            .ui.segment.inline.field
                #generateTags.ui.button Generate Tags
                each docTags
                    .ui.large.icon.label
                        |#{this}
                        i.delete.icon.removeTag
                input#addDocTag(type='text' placeholder='add tag')
            .ui.field
                textarea#docbody #{body}
            #save.ui.large.button Save
            #delete.ui.compact.right.floated.button Delete (+1p)
            // .ui.small.info.message
            //     .content Each post costs a point
    .ui.modal
        .header Confirm Delete
        .content
            .meta This will refund you one point
            .description #{body}
        .actions
            .ui.button.cancel Cancel
            .ui.red.button.approve Delete
