template(name='viewSmall')
    .panel.panel-default
        .panel-heading
            // span.glyphicon.glyphicon-tags
            each tags
                .btn.btn-sm.doc_tag(class=doc_tag_class)= this
        if body.length
            .panel-body
                +markdown
                    #{body}
        .panel-footer
            if isAuthor
                a.btn.btn-primary.btn-sm.editDoc edit
            a.btn.btn-primary.btn-sm.viewDoc view
            if currentUser
                // a.btn.btn-info.cloneDoc Clone
                unless isAuthor
                    .btn.btn-group
                        if canSendPoints
                            .send_point.btn.btn-primary
                                span.glyphicon.glyphicon-plus
                                // |Send Point
                        if canRetrievePoints
                            .retrieve_point.btn.btn-primary
                                span.glyphicon.glyphicon-minus
                                // |Retrieve Point
                    if canRetrievePoints
                         | #{currentUserDonations} points sent
                    // .bid.btn.btn-primary increment bid
            p doc points: #{points}
            p doc price: #{price}
            if canBuy
                .btn.btn-primary.buyItem buy item for #{price} points
            p by #{username} [#{author.points}] #{when}
            // .btn.btn-primary.btn-sm.findTopDocMatches find top matches
            if topDocMatches
                .section
                    ul.list-group top matches
                        each topDocMatches
                            a.list-group-item(href="/view/#{this.docId}")
                                each this.intersectionTags
                                    .label.label-default #{this}
                                |by #{this.username}