template(name='viewSmall')
    .panel.panel-default
        .panel-heading
            // span.glyphicon.glyphicon-tags
            each tags
                .btn.btn-sm.doc_tag(class=doc_tag_class)= this
        if body.length
            .panel-body
                +markdown
                    #{body}
        .panel-footer
            if isAuthor
                a.btn.btn-primary.btn-sm.editDoc edit
            a.btn.btn-primary.btn-sm.viewDoc view
            if currentUser
                // a.btn.btn-info.cloneDoc Clone
                unless isAuthor
                    .btn.btn-group
                        a.vote_up.btn.btn-primary(class=vote_up_button_class)
                            span.glyphicon.glyphicon-plus
                            |Send Point
                        a.vote_down.btn.btn-primary(class=vote_down_button_class)
                            span.glyphicon.glyphicon-minus
                            |Retrieve Point
                    // .bid.btn.btn-primary increment bid
            span.label.label-primary.label-lg Doc Points: #{points}
            span.label.label-default by #{username} [#{author.points}] #{when}
            // .btn.btn-primary.btn-sm.findTopDocMatches find top matches
            .section
                ul.list-group top matches
                    each topDocMatches
                        a.list-group-item(href="/view/#{this.docId}")
                            each this.intersectionTags
                                .label.label-default #{this}
                            |by #{this.username}