template(name='view')
    .panel.panel-default.text-center
        .panel-heading
            each tags
                .btn.btn-lg.docTag(class=docTagClass)  #{this}
        .panel-body
            .btn-group
                .btn.btn-success.btn-lg.voteUp(class=voteUpButtonClass)
                    span.glyphicon.glyphicon-thumbs-up
                .btn.btn-danger.btn-lg.voteDown(class=voteDownButtonClass)
                    span.glyphicon.glyphicon-thumbs-down
        .panel-footer
            .label.label-primary.label-lg #{points}
            // | by #{username} #{when}
            if isAuthor
                a.btn.btn-primary.btn-sm.editDoc
                    span.glyphicon.glyphicon-pencil