.panel.panel-default
    .panel-heading
        each tags
            .btn.doc_tag(class=doc_tag_class)= this
    .panel-body
        +markdown
            #{body}
    .panel-footer
        if isAuthor
            a.btn.btn-info.editDoc Edit
        if currentUser
            a.btn.btn-info.cloneDoc Clone
            unless isAuthor
                a.vote_up.btn.btn-info(class=vote_up_button_class) Vote Up
                a.vote_down.btn.btn-info(class=vote_down_button_class) Vote Down
        if points
            |Points: #{points}
        |by #{username} #{when}