template(name='view')
    .content
        each tags
            .ui.button.docTag(class=docTagClass)  #{this}
    if body
        .content
            |#{body}
    .extra.content
        .ui.icon.button.voteUp(class=voteUpButtonClass)
            i.thumbs.up.icon
        .ui.icon.button.voteDown(class=voteDownButtonClass)
            i.thumbs.down.icon
        .ui.mini.statistic
            .value
                | #{points}
            .label
                | Points

        .ui.button by #{username} [#{author.points}]
        if personal
            i.lock.icon
            |Private
        else
            i.unlock.icon
            |Public
    .extra.content
        .ui.icon.button.editDoc
            i.blue.pencil.icon
        if isAuthor
            .ui.icon.button.deleteDoc
                i.red.trash.icon