template(name='viewFull')
    with doc
        .ui.segment
            i.tags.icon
            each tags
                .ui.label #{this}
            .ui.divider
            if body.length
                +markdown
                    #{body}
            .ui.divider
            if isAuthor
                a.ui.labeled.icon.button.editDoc
                    |Edit
                    i.pencil.icon
            if currentUser
                .ui.labeled.icon.button.cloneDoc
                    |Clone
                    i.fork.icon
                .ui.icon.button.voteUp(class=voteUpButtonClass)
                    i.thumbs.up.icon
                .ui.icon.button.voteDown(class=voteDownButtonClass)
                    i.thumbs.down.icon
            .ui.mini.statistic
                .value
                    | #{points}
                .label
                    | Points
            .ui.label by #{username} [#{author.points}] #{when}
            .ui.segment
                .ui.button#findTopDocMatches Find Top Matches
                .ui.header Top Matches
                .ui.list
                    each topDocMatches
                        .item
                        .ui.labeled.icon.button.viewMatchDoc
                            i.unhide.icon
                            |View
                        |by #{this.username}
                        each this.intersectionTags
                            .ui.label #{this}
        .ui.container
            +commentList