template(name='view')
    .text-center
        // .panel-heading
        h4
            each tags
                // .btn.btn-link.docTag(class=docTagClass)  #{this}
                span #{this} &nbsp;&nbsp;
            // if isAuthor
            //     a.btn.btn-default.btn-sm.editDoc
            //         span.glyphicon.glyphicon-pencil
        .row
            .btn-group
                .btn.btn-default.voteUp(class=voteUpButtonClass)
                    span.glyphicon.glyphicon-thumbs-up
                .btn.btn-default.disabled
                    | #{points}
                .btn.btn-default.voteDown(class=voteDownButtonClass)
                    span.glyphicon.glyphicon-thumbs-down
            // .panel-footer
            // | by #{username} #{when}