template(name='viewSmall')
    // i.tags.icon
    each tags
        .ui.large.basic.button.docTag(class=docTagClass)  #{this}
    .ui.divider
    if body.length
        .description
            +markdown
                !{body}
        .ui.divider
    unless isAuthor
        .ui.huge.icon.button.voteUp(class=voteUpButtonClass)
            i.thumbs.up.icon
        .ui.huge.icon.button.voteDown(class=voteDownButtonClass)
            i.thumbs.down.icon
    .ui.basic.large.label
        | #{points} Points
    if isAuthor
        .ui.basic.button.editDoc
            i.blue.pencil.icon
            |Edit
        .ui.icon.basic.button.deleteDoc
            // |Delete
            i.red.trash.icon
    // .ui.basic.button.viewFull
    //     i.unhide.icon
    //     |View
    |by #{username} [#{author.points} points] #{when}
    unless isAuthor
        .ui.divider
        h4.ui.header Matched Upvoted Keywords with #{username} (Count: #{upVotedMatchCloud.length})
        each upVotedMatchCloud
            .ui.basic.label #{this}