template(name='view')
    .panel.panel-default
        .panel-heading
            div tags:
                each tags
                    .btn.btn-sm.doc_tag(class=doc_tag_class)= this
            div mentions:
                each mentions
                    .btn.btn-sm.doc_tag(class=doc_mention_class)= this
        .panel-footer
            if isAuthor
                a.btn.btn-primary.btn-sm.editDoc edit
            p doc points: #{points}
            p by #{username} #{when}
