template(name='importerView')
    .container
        with importerDoc
            .panel.panel-default
                .panel-body
                    .form-group
                        label.active(for='importerName') Importer Name
                        input#importerName.form-control(type='text' value=name)
                    .form-group
                        label.active(for='importerTag') Importer Tag (included with all documents to facilitate future editing)
                        input#importerTag.form-control(type='text' value=importerTag)
                    unless uploading
                        .form-group
                            span Upload CSV File
                            input(type='file' name='uploadCSV' accept='.csv' defaultValue='Upload')
                            p #{fileName}
                            p #{downloadUrl}
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |Uploading files...
                    if fieldsObject
                        table.table.table-striped
                            thead
                                tr
                                    th Field Name
                                    th First Row Data Example
                                    th Action
                            tbody
                                each fieldsObject
                                    tr
                                        td #{this.name}
                                        td #{this.firstValue}
                                        // td
                                        //     .input-field.col.s12
                                        //         select.browser-default.typeSelector(id="#{this.name}")
                                        //             option(value='', disabled='') Choose Data Type/Action
                                        //             option(value='1' selected="{{selectedDataType 1}}") Direct Tag
                                        //             option(value='2' selected="{{selectedDataType 2}}") Time/Date
                                        //             option(value='3' selected="{{selectedDataType 3}}") Geo
                                        //             option(value='4' selected="{{selectedDataType 4}}") Skip
                                        //         // label Pick Data Type
                                        td
                                            input.toggleTag(type="checkbox" id="#{this.name}" checked="#{this.tag}")
                                            label(for="#{this.name}") Tag
                    // .row
                    //     .btn#testImporter Test Importer
                    if testDoc
                        .panel.panel-default
                            .panel-heading Test Doc
                            .panel-body
                                each testDoc.tags
                                    .btn.btn-default= this
                    #saveImporter.btn.btn-primary.btn-lg Save
                    if importerTag
                        #runImporter.btn.btn-success Run Importer
                    #deleteImporter.btn.btn-default Delete
            // Editor
            // .card
            //     .card-content
            //         #cleanNonStringTags.btn Clean Non String Tags From My Docs
            //         #alchemize.btn Autotag all my docs
            .panel.panel-default
                .panel-heading Bulk Editor
                .panel-body
                    p Tag Selector: #{importerTag}
                    // .field-input.col.s6
                    //     label.active(for='tagSelector' va)  Tag Selector
                    //     input#tagSelector(type=text value="{{$.Session.get 'query'}}" autofocus='')
                    #findDocsWithTag.btn.btn-default Find Docs with Tag
                    // .form-inline
                    //     .form-group
                    //         label.active(for='importAmount') Import Amount
                    //         input#importAmount.form-control(type='number' value=importAmount)
                    if $.Session.get 'resultCount'
                        .panel.panel-default
                            .panel-body
                                p Result Count: {{$.Session.get 'resultCount'}}
                                .row
                                    if docTagCloudFromImporter
                                        each docTagCloudFromImporter
                                            button.btn.btn-link(disabled="disabled")
                                                span #{this.name}
                                                small #{this.count}
                                #deleteQueryDocs.btn.btn-danger Delete Query Docs
                    // .row
                    //     .firstDocFromQuery First Result From Query
