template(name='importerView')
    .container
        with importerDoc
            .card
                .card-content
                    .input-field
                        label.active(for='importerName') Importer Name
                        input#importerName(type='text' value=name)
                    .input-field
                        label.active(for='importerTag') Importer Tag (included with all documents imported to facilitate future editing)
                        input#importerTag(type='text' value=importerTag)
                    unless uploading
                        .file-field.input-field
                            .btn
                                span Upload CSV File
                                input(type='file' name='uploadCSV' accept='.csv')
                            .file-path-wrapper
                                input.file-path.validate(type='text' value=fileName)
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |Uploading files...
                    if fieldsObject
                        table.responsive-table.striped
                            thead
                                tr
                                    th Field Name
                                    th First Row Data Example
                                    th Action
                            tbody
                                each fieldsObject
                                    tr
                                        td #{this.name}
                                        td #{this.firstValue}
                                        // td
                                        //     .input-field.col.s12
                                        //         select.browser-default.typeSelector(id="#{this.name}")
                                        //             option(value='', disabled='') Choose Data Type/Action
                                        //             option(value='1' selected="{{selectedDataType 1}}") Direct Tag
                                        //             option(value='2' selected="{{selectedDataType 2}}") Time/Date
                                        //             option(value='3' selected="{{selectedDataType 3}}") Geo
                                        //             option(value='4' selected="{{selectedDataType 4}}") Skip
                                        //         // label Pick Data Type
                                        td
                                            input.toggleTag(type="checkbox" id="#{this.name}" checked="#{this.tag}")
                                            label(for="#{this.name}") Tag
                    .row
                        .btn#runTest Test Importer
                    if testRun
                        .card-panel
                            .card-title Test Doc
                            .card-content
                                each testRunTags
                                    .chip= this
                .card-action
                    .btn#saveImporter
                        i.material-icons.left done
                        |Save
                    .btn-floating#deleteImporter
                        i.material-icons delete