template(name='importerView')
    .container
        with importerDoc
            .panel.panel-default
                .panel-body
                    .form-group
                        label.active(for='importerName') importer name
                        input#importerName.form-control(type='text' value=name)
                    .form-group
                        label.active(for='importerTag') importer tag (included with all documents to facilitate future editing)
                        input#importerTag.form-control(type='text' value=importerTag)
                    unless uploading
                        .form-group
                            span upload csv file
                            input(type='file' name='uploadCSV' accept='.csv' defaultValue='Upload')
                            p #{fileName}
                            p #{downloadUrl}
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |uploading files...
                    if fieldsObject
                        table.table.table-striped
                            thead
                                tr
                                    th field name
                                    th first row data example
                                    th action
                            tbody
                                each fieldsObject
                                    tr
                                        td #{this.name}
                                        td #{this.firstValue}
                                        // td
                                        //     .input-field.col.s12
                                        //         select.browser-default.typeSelector(id="#{this.name}")
                                        //             option(value='', disabled='') Choose Data Type/Action
                                        //             option(value='1' selected="{{selectedDataType 1}}") Direct Tag
                                        //             option(value='2' selected="{{selectedDataType 2}}") Time/Date
                                        //             option(value='3' selected="{{selectedDataType 3}}") Geo
                                        //             option(value='4' selected="{{selectedDataType 4}}") Skip
                                        //         // label Pick Data Type
                                        td
                                            input.toggleTag(type="checkbox" id="#{this.name}" checked="#{this.tag}")
                                            label(for="#{this.name}") tag
                    // .row
                    //     .btn#testImporter Test Importer
                    if testDoc
                        .panel.panel-default
                            .panel-heading test doc
                            .panel-body
                                each testDoc.tags
                                    .btn.btn-default= this
                    #saveImporter.btn.btn-primary.btn-lg save
                    if importerTag
                        #runImporter.btn.btn-success run importer
                    #deleteImporter.btn.btn-default delete
            // Editor
            // .card
            //     .card-content
            //         #cleanNonStringTags.btn Clean Non String Tags From My Docs
            //         #alchemize.btn Autotag all my docs
            .panel.panel-default
                .panel-heading bulk editor
                .panel-body
                    p tag selector: #{importerTag}
                    // .field-input.col.s6
                    //     label.active(for='tagSelector' va)  Tag Selector
                    //     input#tagSelector(type=text value="{{$.Session.get 'query'}}" autofocus='')
                    #findDocsWithTag.btn.btn-default find docs with tag
                    // .form-inline
                    //     .form-group
                    //         label.active(for='importAmount') Import Amount
                    //         input#importAmount.form-control(type='number' value=importAmount)
                    if $.Session.get 'resultCount'
                        .panel.panel-default
                            .panel-body
                                p result count: {{$.Session.get 'resultCount'}}
                                .row
                                    if docTagCloudFromImporter
                                        each docTagCloudFromImporter
                                            button.btn.btn-link(disabled="disabled")
                                                span #{this.name}
                                                small #{this.count}
                                #deleteQueryDocs.btn.btn-danger delete query docs
                    // .row
                    //     .firstDocFromQuery First Result From Query
