.ui.segment
    h5 Recipe Name: #{recipename}
    h5 Total Time: #{totaltimedisplay}
    h5 Prep Time: #{preptime} #{prepunits}
    h5 Cook Time: #{cooktime} #{cookunits}
    .ui.segment
        h4 Ingredients
        .ui.relaxed.divided.list
            each ingredients
                .item #{this.amount} #{this.unit} #{this.ingredient} #{this.descriptor}
    .ui.segment
        h4 Steps
        .ui.relaxed.divided.list
            each steps
                .item #{this}