.card-content
    each tags
        .chip.doc_tag(class=doc_tag_class)= this
    +markdown
        #{body}
.card-action
    |by #{username} #{when}
    if isAuthor
        // .btn-floating.deletePost
        //     i.material-icons delete
        .btn-floating.editDoc
            i.material-icons settings
    .btn-floating.cloneDoc
        i.material-icons call_split
    unless isAuthor
        a.vote_up.btn-floating.blue(class=vote_up_button_class)
            i.material-icons thumb_up
        a.vote_down.btn-floating.blue(class=vote_down_button_class)
            i.material-icons thumb_down
    |Points: #{points}