.header
    each tags
        .ui.compact.button.doc_tag(class=doc_tag_class)= this
.meta by #{username} #{when}
.ui.segment
    +markdown
        #{body}
if isAuthor
    .ui.basic.labeled.icon.button.deletePost
        |Delete
        i.remove.icon
    .ui.basic.labeled.icon.button.editDoc
        |Edit
        i.pencil.icon
.ui.disabled.button.authorButton(class=authorButtonClass) Author: #{username}
.vote_up.ui.icon.button(class=vote_up_button_class)
    i.thumbs.up.icon(class=vote_up_icon_class)
.ui.basic.label Points: #{points}
.vote_down.ui.icon.button(class=vote_down_button_class)
    i.thumbs.down.icon(class=vote_down_icon_class)